<% include ./partials/header %>
<div class="container">
    <div class="jumbotron">
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="section">
       You might be looking for super-fresh, mouth-watering  hand made falafel wrap, shawarma wrap.</br>
       Maybe you are in the mood for freshly made gyero commpination or chicken and rice plate.</br>  
       Or checkout our menu and tells us how we serve, there are so many more items in the menu, </br>I'm sure you can find one that satisfies you.
       Order today for take-out or delievery  
    </div>
    
    <div class="contact-section">
        Rental Car Rd Austin, TX 78719</br>

    </div>
        
    </div>
    <footer>
        
        <p>come visit or contact on social media</p>
        <ul>
            <li><a href="#" <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li> <a href="#" <i class="fa fa-facebook" aria-hidden="true"></i> </a> </li>
            <li><a href="#"  <i class="fa fa-snapchat" aria-hidden="true"> </i> </a>
           </li>
        </ul>
    </footer>

<% include ./partials/footer %>